# node_modules
node_modules/

# build files
build/

# test files
coverage/

# logs
*.log

# environment variables
.env

# IDE files
.vscode/
.idea/

# production dependencies
/dist/

# yarn
yarn-error.log